<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RealLis.specimenInhos.mapper.LLoginsticsMapper">

    <resultMap type="com.RealLis.specimenInhos.domain.LLogistics" id="LLogisticsMap">
        <result property="wlbh" column="WLBH"/>
        <result property="cjsj" column="CJSJ"/>
        <result property="dbsj" column="DBSJ"/>
        <result property="cjr" column="CJR"/>
        <result property="dbr" column="DBR"/>
        <result property="yssj" column="YSSJ"/>
        <result property="ysr" column="YSR"/>
        <result property="bqdm" column="BQDM"/>
        <result property="ddsj" column="DDSJ"/>
        <result property="bbsl" column="BBSL"/>
        <result property="wlzt" column="WLZT"/>
        <result property="bqmc" column="BQMC"/>
        <result property="qsr" column="QSR"/>
        <result property="cjrxm" column="CJRXM"/>
    </resultMap>


    <!--通过实体作为筛选条件查询-->
    <select id="queryLlogisticsList" resultMap="LLogisticsMap">
        select
        l.WLBH, l.CJSJ, l.DBSJ, l.CJR,(select xm from gy_zgxx where zgid = l.cjr and rownum= 1) as cjrxm,l.DBR, l.YSSJ, l.YSR, l.BQDM, l.DDSJ, l.BBSL, l.WLZT, l.BQMC, l.QSR
        from ZHLIS.L_LOGISTICS l
        <where>
            <if test="wlbh != null">
                and WLBH = #{wlbh}
            </if>
            <if test="cjsj != null">
                and CJSJ = #{cjsj}
            </if>
            <if test="dbsj != null">
                and DBSJ = #{dbsj}
            </if>
            <if test="cjr != null">
                and CJR = #{cjr}
            </if>
            <if test="dbr != null">
                and DBR = #{dbr}
            </if>
            <if test="yssj != null">
                and YSSJ = #{yssj}
            </if>
            <if test="ysr != null">
                and YSR = #{ysr}
            </if>
            <if test="bqdm != null">
                and BQDM = #{bqdm}
            </if>
            <if test="ddsj != null">
                and DDSJ = #{ddsj}
            </if>
            <if test="bbsl != null">
                and BBSL = #{bbsl}
            </if>
            <if test="wlzt != null">
                and WLZT = #{wlzt}
            </if>
            <if test="bqmc != null">
                and BQMC = #{bqmc}
            </if>
            <if test="qsr != null">
                and QSR = #{qsr}
            </if>
            <if test="searchValue!=null and searchValue!=''">
                and WLBH like concat(concat('%',#{searchValue,jdbcType=VARCHAR}),'%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and CJSJ &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and CJSJ &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
        order by cjsj desc
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryLlogistics" resultMap="LLogisticsMap">
        select
        WLBH, CJSJ, DBSJ, CJR, DBR, YSSJ, YSR, BQDM, DDSJ, BBSL, WLZT, BQMC, QSR,(select xm from gy_zgxx where zgid = l.cjr and rownum= 1) as cjrxm
        from ZHLIS.L_LOGISTICS
        <where>
            <if test="wlbh != null">
                and WLBH = #{wlbh}
            </if>
            <if test="cjsj != null">
                and CJSJ = #{cjsj}
            </if>
            <if test="dbsj != null">
                and DBSJ = #{dbsj}
            </if>
            <if test="cjr != null">
                and CJR = #{cjr}
            </if>
            <if test="dbr != null">
                and DBR = #{dbr}
            </if>
            <if test="yssj != null">
                and YSSJ = #{yssj}
            </if>
            <if test="ysr != null">
                and YSR = #{ysr}
            </if>
            <if test="bqdm != null">
                and BQDM = #{bqdm}
            </if>
            <if test="ddsj != null">
                and DDSJ = #{ddsj}
            </if>
            <if test="bbsl != null">
                and BBSL = #{bbsl}
            </if>
            <if test="wlzt != null">
                and WLZT = #{wlzt}
            </if>
            <if test="bqmc != null">
                and BQMC = #{bqmc}
            </if>
            <if test="qsr != null">
                and QSR = #{qsr}
            </if>
            <if test="searchValue!=null and searchValue!=''">
                and WLBH like concat(concat('%',#{searchValue,jdbcType=VARCHAR}),'%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and CJSJ &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and CJSJ &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
        order by cjsj desc
    </select>

    <resultMap type="com.RealLis.specimenInhos.domain.LLogisticsDetailVO" id="LLogisticsDetailMap">
        <result property="wlbh" column="WLBH"/>
        <result property="tmh" column="TMH"/>
        <result property="bedNum" column="BED_NO"/>
        <result property="patientName" column="PATIENTNAME"/>
        <result property="examinaim" column="EXAMINAIM"/>
    </resultMap>

    <select id="queryLlogisticsDetailByWlbh" parameterType="String" resultMap="LLogisticsDetailMap">
        SELECT L_LOGISTICS_MX.WLBH,
               L_LOGISTICS_MX.TMH,
               L_JYTMXX.BED_NO,
               L_JYTMXX.PATIENTNAME,
               L_JYTMXX.EXAMINAIM
        FROM L_LOGISTICS_MX,
             L_JYTMXX
        WHERE ( L_LOGISTICS_MX.DOCTADVISENO = L_JYTMXX.DOCTADVISENO ) and
                L_LOGISTICS_MX.wlbh = #{wlbh}
        order by L_JYTMXX.BED_NO

    </select>

    <update id="updateLogistics" parameterType="com.RealLis.specimenInhos.domain.LLogistics">
        UPDATE l_logistics Set yssj=sysdate,wlzt=2,ysr=#{ysr} Where wlbh = #{wlbh}
    </update>
</mapper>
