<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('创建物流')" />
</head>
<body  class="gray-bg" style="overflow-x: auto">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 style="font-size: large">住院标本 <small class="m-l-sm">创建物流</small></h5>
                    <div class="ibox-tools">


                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-horizontal m-t" >
                            <div class="form-group">
                                <label class="col-sm-2 control-label">请刷入标本条码:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id ="barcode" name="barcode"/>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success"  onclick="Packing()">开始打包</button>
                                </div>
                                <div class="col-sm-1">
                                    <div id = "totalCount" name="totalCount"><h1>0</h1></div>
                                </div>
<!--                                <div class="col-sm-1">-->
<!--                                    当前物流号：-->
<!--                                </div>-->

<!--                                <div class="col-sm-3">-->
<!--                                    <input type="text" readonly="true" class="form-control" name = "logisticsNo" id="logisticsNo"/>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-12 select-table table-bordered" >
            <table id="packageInfo"></table>
        </div>
    </div>
</div>

<!--物流条码生成示例示例-->
<section hidden>
    <div > 条码预览</div>
    <div id="logisticsPrint" >
        <table   style="border:solid 1px black;border-collapse:collapse;width: 500px;height: 300px">
            <tr >
                <td colspan="3" align="center" style="font-size:xx-large" ><strong>台一医 标本送检单</strong></td>
            </tr>
            <tr>

                <td colspan="3"><div style="text-align: center;"> <img id="imgCodelogistics" style="height: 200px"></div></td>

            </tr>
            <tr>
                <td rowspan="2"><div style="text-align: center;font-size:x-large;float: left"  >样品数：</div><div id = "bbsl" style="text-align: center;font-size:x-large;float: left" >8</div></td><!--打包数量-->
                <td colspan="2"><div id ="bqmc" style="float: right;font-size:x-large"></div></td><!--病区名字-->
            </tr>
            <tr>

                <td colspan="2"><div id ="cjsj" style="float: right;font-size:x-large">2020-06-09 00:00:00</div></td><!--送检时间-->
            </tr>
        </table>

    </div>
    <button onclick="prn1_preview('logisticsPrint')">打印</button>
</section>

<th:block th:include="include :: footer" />
<!--引用jsBarcode插件-->
<th:block th:include="include :: JsBarcode-js" />
<th:block th:include="include :: LodopFuncs-js" />
</body>
<script th:inline="javascript">
    var prefix = ctx + "specimenInhos";
    var currentData;
    var totalCount= 0 ;
    $("#barcode").keydown(function(e) {
        if (e.keyCode == 13) {
            var barcode = document.getElementById('barcode').value;
            if(barcode.length>0) {
                console.log(barcode);
                getBarcodeInfo(barcode);
            }
        }
    });
    $(function() {
        tableInit();
    });
    function tableInit() {
        var columns=[

            {field: 'barcode', title: '条码号', align: 'center'},
            {field: 'patientname', title: '姓名', align: 'left'},
            {field: 'bednum', title: '床号', align: 'left'},
            {field: 'examname', title: '检验项目', align: 'left'},
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="remove(\'' + row.barcode + '\')"><i class="fa fa-remove"></i>删除</a>');
                    return actions.join('');
                }
            }
        ]
        var options={
            id: "packageInfo",
            data:currentData,
            modalName: "打包信息",
            columns: columns,
            showSearch:false,
            height:400,
            uniqueId:'barcode',
            paginationDetailHAlign:"right",
        };
        $.table.init(options);
    }
    function getBarcodeInfo(barcode) {
        if( $('#packageInfo').bootstrapTable('getRowByUniqueId',barcode)==null) {

            if (barcode != null) {
                $.ajax({
                    type: "get",
                    url: prefix + "/getBarcode/" + barcode,
                    async:false,
                    success: function (r) {
                        if (r.code == 0) {
                            $('#packageInfo').bootstrapTable('append', JSON.parse(r.msg));
                            totalCount++;
                            $('#totalCount').html('<h1 style="color: red">'+totalCount+'</h1>');
                        } else {
                            $.modal.msgError(r.msg);
                        }
                    }
                });
            } else {
                $.modal.msgError("条码号为空");
            }
        } else{
        $.modal.msgError('该条码已进入打包列表');
    }
        $('#barcode').val("");
    }
    function remove(barcode) {
        $.modal.confirm("确定要删除吗?", function() {
            var barcodes=[];
            barcodes.push(barcode);
            var removeInfo = {field:'barcode',values:barcodes};
            console.log(removeInfo)
            $('#packageInfo').bootstrapTable('remove',removeInfo);
            totalCount--
            $('#totalCount').html('<h1 style="color: red">'+totalCount+'</h1>');
        });

    }
    function Packing() {
        $.modal.loading("数据加载中");
        var allPackingData = $('#packageInfo').bootstrapTable('getData');
        var userId = [[${userCode}]];
        let i = 0 ;
        var barcodes='';
        for(i = 0 ; i<allPackingData.length;i++){
            barcodes+=allPackingData[i].barcode+',';
        }
        var postData = {
            barcodes:barcodes,
            userCode:userId
        }
        $.ajax({
            type: "post",
            url: prefix + "/Packing",
            data: postData,
            success: function(r) {
                var msg =JSON.parse(r.msg);
                if (r.code == 0) {
                    $.modal.closeLoading()
                    console.log(msg.Body.rtncode);
                    if(confirm("打包成功是否直接打印") ==true){
                        JsBarcode("#imgCodelogistics",msg.Body.rtncode,{
                            format:"CODE128",
                            width:2,
                        });
                        $("#bqmc").html(msg.Body.bqmc);
                        $("#bbsl").html(msg.Body.bbsl);
                        $("#cjsj").html(msg.Body.cjsj);
                        $.modal.loading("条码打印中");
                        prn1_preview('logisticsPrint')
                        $.modal.closeLoading()
                        $.modal.close();
                        parent.$.table.refresh();
                    }else{
                        $.modal.close();
                        parent.$.table.refresh();
                    }
                } else {
                    $.modal.closeLoading()
                    $.modal.alertError('打包失败！'+msg.Body.rtntext)
                }
            }
        });
        console.log(allPackingData);
    }
    function submitHandler() {
        Packing();
    }

</script>
<script type="text/javascript">

</script>

<script>
    var LODOP; //声明为全局变量
    function prn1_preview(printName) {
        CreateOneFormPage(printName);
        LODOP.SET_PRINT_PAGESIZE(1,500,300,"CreateCustomPage");
        //LODOP.PREVIEW();//打印预览
        LODOP.PRINT();//直接打印
    };
    function CreateOneFormPage(printName){
        LODOP=getLodop();
        //LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
        LODOP.SET_PRINT_STYLE("FontSize",18);
        LODOP.SET_PRINT_STYLE("Bold",1);
        //LODOP.ADD_PRINT_TEXT(0,0,0,0,"打印页面部分内容");
        // LODOP.SET_PRINT_MODE("FULL_HEIGHT_FOR_OVERFLOW",true);//高度溢出缩放
        LODOP.SET_PRINT_MODE("WINDOW_DEFPRINTER","Zebra  888-TT");
        //LODOP.SET_PRINT_MODE("WINDOW_DEFPRINTER","Microsoft XPS Document Writer");
        LODOP.SET_PRINT_MODE("PRINT_PAGE_PERCENT","Full-Page");//整页缩放
        LODOP.ADD_PRINT_HTM("0%","0%","100%","100%",document.getElementById(printName).innerHTML);
    };

</script>
</html>
