<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RealLis.dataSync.mapper.LTsxxHisMapper">

    <resultMap type="com.RealLis.dataSync.domain.LTsxxHis" id="LTsxxMap">
        <result property="xh" column="XH"/>
        <result property="bbbh" column="BBBH" />
        <result property="tsnr" column="TSNR" />
        <result property="clrYs" column="CLR_YS"/>
        <result property="clsjYs" column="CLSJ_YS" />
        <result property="clbzYs" column="CLBZ_YS" />
        <result property="clrHs" column="CLR_HS" />
        <result property="clsjHs" column="CLSJ_HS" />
        <result property="clnrHs" column="CLNR_HS" />
        <result property="clbzHs" column="CLBZ_HS" />
        <result property="tslx" column="TSLX" />
        <result property="tsrq" column="TSRQ" />
        <result property="tsr" column="TSR"/>
        <result property="cname" column="CNAME" />
        <result property="cip" column="CIP" />
        <result property="zgys" column="ZGYS" />
        <result property="zghs" column="ZGHS" />
        <result property="bqdm" column="BQDM" />
        <result property="ksdm" column="KSDM" />
        <result property="systype" column="SYSTYPE" />
        <result property="kdys" column="KDYS" />
        <result property="brid" column="BRID" />
        <result property="jzlb" column="JZLB" />
        <result property="telP" column="TEL_P" />
        <result property="telYs" column="TEL_YS" />
        <result property="sendflag" column="SENDFLAG" />
        <result property="sentime" column="SENTIME" />
        <result property="id" column="id" />
        <result property="tsrxm" column="tsrxm" />
        <result property="tsrdh" column="tsrdh" />
        <result property="tsks" column="tsks" />
        <result property="clnrYs" column="CLNR_YS"/>
        <result property="transed" column="transed" />
        <result property="bzsm" column="bzsm" />
        <result property="mpi" column="MPI" />
        <result property="brxm" column="brxm" />
        <result property="ksmc" column="ksmc" />
        <result property="lisxh" column="lisxh"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LTsxxMap">
        select top 1
          XH, BBBH, TSNR, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, TSLX, TSRQ, TSR, CNAME, CIP, ZGYS, ZGHS, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, id, tsrxm, tsrdh, tsks, CLNR_YS, transed, bzsm, MPI, brxm, ksmc, lisxh
        from dbo.L_TSXX
        where XH = #{xh}
    </select>

    <select id="queryByLisxh" resultMap="LTsxxMap">
        select top 1
          XH, BBBH, TSNR, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, TSLX, TSRQ, TSR, CNAME, CIP, ZGYS, ZGHS, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, id, tsrxm, tsrdh, tsks, CLNR_YS, transed, bzsm, MPI, brxm, ksmc, lisxh
        from dbo.L_TSXX
        where LISXH = #{lisxh}
    </select>
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="LTsxxMap">
        select
          XH, BBBH, TSNR, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, TSLX, TSRQ, TSR, CNAME, CIP, ZGYS, ZGHS, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, id, tsrxm, tsrdh, tsks, CLNR_YS, transed, bzsm, MPI, brxm, ksmc, lisxh
        from dbo.L_TSXX
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LTsxxMap">
        select
        XH, BBBH, TSNR, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, TSLX, TSRQ, TSR, CNAME, CIP, ZGYS, ZGHS, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, id, tsrxm, tsrdh, tsks, CLNR_YS, transed, bzsm, MPI, brxm, ksmc, lisxh
        from dbo.L_TSXX
        <where>
            <if test="xh != null">
                and XH = #{xh}
            </if>
            <if test="bbbh != null and bbbh != ''">
                and BBBH = #{bbbh}
            </if>
            <if test="tsnr != null and tsnr != ''">
                and TSNR = #{tsnr}
            </if>
            <if test="clrYs != null and clrYs != ''">
                and CLR_YS = #{clrYs}
            </if>
            <if test="clsjYs != null">
                and CLSJ_YS = #{clsjYs}
            </if>
            <if test="clbzYs != null">
                and CLBZ_YS = #{clbzYs}
            </if>
            <if test="clrHs != null and clrHs != ''">
                and CLR_HS = #{clrHs}
            </if>
            <if test="clsjHs != null">
                and CLSJ_HS = #{clsjHs}
            </if>
            <if test="clnrHs != null and clnrHs != ''">
                and CLNR_HS = #{clnrHs}
            </if>
            <if test="clbzHs != null">
                and CLBZ_HS = #{clbzHs}
            </if>
            <if test="tslx != null">
                and TSLX = #{tslx}
            </if>
            <if test="tsrq != null">
                and TSRQ = #{tsrq}
            </if>
            <if test="tsr != null and tsr != ''">
                and TSR = #{tsr}
            </if>
            <if test="cname != null and cname != ''">
                and CNAME = #{cname}
            </if>
            <if test="cip != null and cip != ''">
                and CIP = #{cip}
            </if>
            <if test="zgys != null and zgys != ''">
                and ZGYS = #{zgys}
            </if>
            <if test="zghs != null and zghs != ''">
                and ZGHS = #{zghs}
            </if>
            <if test="bqdm != null">
                and BQDM = #{bqdm}
            </if>
            <if test="ksdm != null">
                and KSDM = #{ksdm}
            </if>
            <if test="systype != null and systype != ''">
                and SYSTYPE = #{systype}
            </if>
            <if test="kdys != null and kdys != ''">
                and KDYS = #{kdys}
            </if>
            <if test="brid != null and brid != ''">
                and BRID = #{brid}
            </if>
            <if test="jzlb != null">
                and JZLB = #{jzlb}
            </if>
            <if test="telP != null and telP != ''">
                and TEL_P = #{telP}
            </if>
            <if test="telYs != null and telYs != ''">
                and TEL_YS = #{telYs}
            </if>
            <if test="sendflag != null">
                and SENDFLAG = #{sendflag}
            </if>
            <if test="sentime != null">
                and SENTIME = #{sentime}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tsrxm != null and tsrxm != ''">
                and tsrxm = #{tsrxm}
            </if>
            <if test="tsrdh != null and tsrdh != ''">
                and tsrdh = #{tsrdh}
            </if>
            <if test="tsks != null and tsks != ''">
                and tsks = #{tsks}
            </if>
            <if test="clnrYs != null and clnrYs != ''">
                and CLNR_YS = #{clnrYs}
            </if>
            <if test="transed != null">
                and transed = #{transed}
            </if>
            <if test="bzsm != null and bzsm != ''">
                and bzsm = #{bzsm}
            </if>
            <if test="mpi != null and mpi != ''">
                and MPI = #{mpi}
            </if>
            <if test="brxm != null and brxm != ''">
                and brxm = #{brxm}
            </if>
            <if test="ksmc != null and ksmc != ''">
                and ksmc = #{ksmc}
            </if>
            <if test="lisxh != null">
                and lisxh = #{lisxh}
            </if>
        </where>
    </select>



    <insert id="insert" parameterType="com.RealLis.dataSync.domain.LTsxxHis">
        insert into L_TSXX
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bbbh != null and bbbh != ''">
                BBBH ,
            </if>
            <if test="tsnr != null and tsnr != ''">
                TSNR ,
            </if>
            <if test="clrYs != null and clrYs != ''">
                CLR_YS ,
            </if>
            <if test="clsjYs != null">
                CLSJ_YS ,
            </if>
            <if test="clbzYs != null">
                CLBZ_YS ,
            </if>
            <if test="clrHs != null and clrHs != ''">
                CLR_HS ,
            </if>
            <if test="clsjHs != null">
                CLSJ_HS ,
            </if>
            <if test="clnrHs != null and clnrHs != ''">
                CLNR_HS ,
            </if>
            <if test="clbzHs != null">
                CLBZ_HS ,
            </if>
            <if test="tslx != null">
                TSLX ,
            </if>
            <if test="tsrq != null">
                TSRQ ,
            </if>
            <if test="tsr != null and tsr != ''">
                TSR ,
            </if>
            <if test="cname != null and cname != ''">
                CNAME ,
            </if>
            <if test="cip != null and cip != ''">
                CIP,
            </if>
            <if test="zgys != null and zgys != ''">
                ZGYS ,
            </if>
            <if test="zghs != null and zghs != ''">
                ZGHS,
            </if>
            <if test="bqdm != null">
                BQDM,
            </if>
            <if test="ksdm != null">
                KSDM ,
            </if>
            <if test="systype != null and systype != ''">
                SYSTYPE ,
            </if>
            <if test="kdys != null and kdys != ''">
                KDYS,
            </if>
            <if test="brid != null and brid != ''">
                BRID,
            </if>
            <if test="jzlb != null">
                JZLB ,
            </if>
            <if test="telP != null and telP != ''">
                TEL_P,
            </if>
            <if test="telYs != null and telYs != ''">
                TEL_YS ,
            </if>
            <if test="sendflag != null">
                SENDFLAG,
            </if>
            <if test="sentime != null">
                SENTIME ,
            </if>
            <if test="id != null">
                id ,
            </if>
            <if test="tsrxm != null and tsrxm != ''">
                tsrxm,
            </if>
            <if test="tsrdh != null and tsrdh != ''">
                tsrdh ,
            </if>
            <if test="tsks != null and tsks != ''">
                tsks,
            </if>
            <if test="clnrYs != null and clnrYs != ''">
                CLNR_YS ,
            </if>
            <if test="transed != null">
                transed,
            </if>
            <if test="bzsm != null and bzsm != ''">
                bzsm,
            </if>
            <if test="mpi != null and mpi != ''">
                MPI ,
            </if>
            <if test="brxm != null and brxm != ''">
                brxm ,
            </if>
            <if test="ksmc != null and ksmc != ''">
                ksmc ,
            </if>
            <if test="lisxh != null">
                lisxh ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bbbh != null and bbbh != ''">
                #{bbbh},
            </if>
            <if test="tsnr != null and tsnr != ''">
               #{tsnr},
            </if>
            <if test="clrYs != null and clrYs != ''">
                 #{clrYs},
            </if>
            <if test="clsjYs != null">
                 #{clsjYs},
            </if>
            <if test="clbzYs != null">
                 #{clbzYs},
            </if>
            <if test="clrHs != null and clrHs != ''">
                #{clrHs},
            </if>
            <if test="clsjHs != null">
                 #{clsjHs},
            </if>
            <if test="clnrHs != null and clnrHs != ''">
                 #{clnrHs},
            </if>
            <if test="clbzHs != null">
                 #{clbzHs},
            </if>
            <if test="tslx != null">
                 #{tslx},
            </if>
            <if test="tsrq != null">
                #{tsrq},
            </if>
            <if test="tsr != null and tsr != ''">
                 #{tsr},
            </if>
            <if test="cname != null and cname != ''">
                 #{cname},
            </if>
            <if test="cip != null and cip != ''">
                 #{cip},
            </if>
            <if test="zgys != null and zgys != ''">
                 #{zgys},
            </if>
            <if test="zghs != null and zghs != ''">
                 #{zghs},
            </if>
            <if test="bqdm != null">
                 #{bqdm},
            </if>
            <if test="ksdm != null">
              #{ksdm},
            </if>
            <if test="systype != null and systype != ''">
              #{systype},
            </if>
            <if test="kdys != null and kdys != ''">
                #{kdys},
            </if>
            <if test="brid != null and brid != ''">
                #{brid},
            </if>
            <if test="jzlb != null">
               #{jzlb},
            </if>
            <if test="telP != null and telP != ''">
                #{telP},
            </if>
            <if test="telYs != null and telYs != ''">
                #{telYs},
            </if>
            <if test="sendflag != null">
               #{sendflag},
            </if>
            <if test="sentime != null">
                #{sentime},
            </if>
            <if test="id != null">
                #{id},
            </if>
            <if test="tsrxm != null and tsrxm != ''">
                #{tsrxm},
            </if>
            <if test="tsrdh != null and tsrdh != ''">
                #{tsrdh},
            </if>
            <if test="tsks != null and tsks != ''">
                 #{tsks},
            </if>
            <if test="clnrYs != null and clnrYs != ''">
               #{clnrYs},
            </if>
            <if test="transed != null">
                #{transed},
            </if>
            <if test="bzsm != null and bzsm != ''">
                 #{bzsm},
            </if>
            <if test="mpi != null and mpi != ''">
                #{mpi},
            </if>
            <if test="brxm != null and brxm != ''">
                 #{brxm},
            </if>
            <if test="ksmc != null and ksmc != ''">
                #{ksmc},
            </if>
            <if test="lisxh != null">
                #{lisxh},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update dbo.L_TSXX
        <set>
            <if test="bbbh != null and bbbh != ''">
                BBBH = #{bbbh},
            </if>
            <if test="tsnr != null and tsnr != ''">
                TSNR = #{tsnr},
            </if>
            <if test="clrYs != null and clrYs != ''">
                CLR_YS = #{clrYs},
            </if>
            <if test="clsjYs != null">
                CLSJ_YS = #{clsjYs},
            </if>
            <if test="clbzYs != null">
                CLBZ_YS = #{clbzYs},
            </if>
            <if test="clrHs != null and clrHs != ''">
                CLR_HS = #{clrHs},
            </if>
            <if test="clsjHs != null">
                CLSJ_HS = #{clsjHs},
            </if>
            <if test="clnrHs != null and clnrHs != ''">
                CLNR_HS = #{clnrHs},
            </if>
            <if test="clbzHs != null">
                CLBZ_HS = #{clbzHs},
            </if>
            <if test="tslx != null">
                TSLX = #{tslx},
            </if>
            <if test="tsrq != null">
                TSRQ = #{tsrq},
            </if>
            <if test="tsr != null and tsr != ''">
                TSR = #{tsr},
            </if>
            <if test="cname != null and cname != ''">
                CNAME = #{cname},
            </if>
            <if test="cip != null and cip != ''">
                CIP = #{cip},
            </if>
            <if test="zgys != null and zgys != ''">
                ZGYS = #{zgys},
            </if>
            <if test="zghs != null and zghs != ''">
                ZGHS = #{zghs},
            </if>
            <if test="bqdm != null">
                BQDM = #{bqdm},
            </if>
            <if test="ksdm != null">
                KSDM = #{ksdm},
            </if>
            <if test="systype != null and systype != ''">
                SYSTYPE = #{systype},
            </if>
            <if test="kdys != null and kdys != ''">
                KDYS = #{kdys},
            </if>
            <if test="brid != null and brid != ''">
                BRID = #{brid},
            </if>
            <if test="jzlb != null">
                JZLB = #{jzlb},
            </if>
            <if test="telP != null and telP != ''">
                TEL_P = #{telP},
            </if>
            <if test="telYs != null and telYs != ''">
                TEL_YS = #{telYs},
            </if>
            <if test="sendflag != null">
                SENDFLAG = #{sendflag},
            </if>
            <if test="sentime != null">
                SENTIME = #{sentime},
            </if>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="tsrxm != null and tsrxm != ''">
                tsrxm = #{tsrxm},
            </if>
            <if test="tsrdh != null and tsrdh != ''">
                tsrdh = #{tsrdh},
            </if>
            <if test="tsks != null and tsks != ''">
                tsks = #{tsks},
            </if>
            <if test="clnrYs != null and clnrYs != ''">
                CLNR_YS = #{clnrYs},
            </if>
            <if test="transed != null">
                transed = #{transed},
            </if>
            <if test="bzsm != null and bzsm != ''">
                bzsm = #{bzsm},
            </if>
            <if test="mpi != null and mpi != ''">
                MPI = #{mpi},
            </if>
            <if test="brxm != null and brxm != ''">
                brxm = #{brxm},
            </if>
            <if test="ksmc != null and ksmc != ''">
                ksmc = #{ksmc},
            </if>
            <if test="lisxh != null">
                lisxh = #{lisxh},
            </if>
        </set>
        where LISXH = #{lisxh}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from dbo.L_TSXX where LISXH = #{lisxh}
    </delete>

</mapper>
