<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RealLis.dataSync.mapper.LTsxxMapper">

    <resultMap type="com.RealLis.dataSync.domain.LTsxx" id="LTsxxMap">
        <result property="xh" column="XH"  />
        <result property="bbbh" column="BBBH" jdbcType="VARCHAR"/>
        <result property="tsnr" column="TSNR" jdbcType="VARCHAR"/>
        <result property="qrr" column="QRR" jdbcType="VARCHAR"  />
        <result property="qrrq" column="QRRQ" jdbcType="DATE"/>
        <result property="qrbz" column="QRBZ" />
        <result property="qrks" column="QRKS" />
        <result property="bz" column="BZ" />
        <result property="tslx" column="TSLX" />
        <result property="tsrq" column="TSRQ" />
        <result property="tsks" column="TSKS" />
        <result property="tsr" column="TSR" />
        <result property="tsworkstation"  column="TSWORKSTATION" />
        <result property="qrworkstation"  column="QRWORKSTATION"/>
        <result property="zgys" column="ZGYS" />
        <result property="zghs" column="ZGHS" />
        <result property="dzsj" column="DZSJ" />
        <result property="clys" column="CLYS" />
        <result property="clrYs" column="CLR_YS" />
        <result property="clsjYs" column="CLSJ_YS" />
        <result property="clbzYs" column="CLBZ_YS" />
        <result property="clrHs" column="CLR_HS" />
        <result property="clsjHs" column="CLSJ_HS" />
        <result property="clnrHs" column="CLNR_HS" />
        <result property="clbzHs" column="CLBZ_HS" />
        <result property="cname" column="CNAME" />
        <result property="cip" column="CIP" />
        <result property="bqdm" column="BQDM" />
        <result property="ksdm" column="KSDM" />
        <result property="systype" column="SYSTYPE" />
        <result property="kdys" column="KDYS" />
        <result property="brid" column="BRID" />
        <result property="jzlb" column="JZLB" />
        <result property="telP" column="TEL_P" />
        <result property="telYs" column="TEL_YS" />
        <result property="sendflag" column="SENDFLAG" />
        <result property="sentime" column="SENTIME" />
        <result property="id" column="ID" />
        <result property="tsrxm" column="TSRXM"/>
        <result property="tsrdh" column="TSRDH" />
        <result property="clnrYs" column="CLNR_YS" />
        <result property="transed" column="TRANSED" />
        <result property="bzsm" column="BZSM" />
        <result property="mpi" column="MPI" />
        <result property="brxm" column="BRXM" />
        <result property="ksmc" column="KSMC" />
        <result property="hisxh" column="HISXH" />
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LTsxxMap">
        select
          XH, BBBH, TSNR, QRR, QRRQ, QRBZ, QRKS, BZ, TSLX, TSRQ, TSKS, TSR, TSWORKSTATION, QRWORKSTATION, ZGYS, ZGHS, DZSJ, CLYS, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, CNAME, CIP, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, ID, TSRXM, TSRDH, CLNR_YS, TRANSED, BZSM, MPI, BRXM, KSMC,HISXH
        from ZHLIS.L_TSXX
        where HISXH = #{hisxh}
        and rownum &lt; 2
    </select>

    <!--查询单个-->
    <select id="queryByxh" resultMap="LTsxxMap">
        select
          XH, BBBH, TSNR, QRR, QRRQ, QRBZ, QRKS, BZ, TSLX, TSRQ, TSKS, TSR, TSWORKSTATION, QRWORKSTATION, ZGYS, ZGHS, DZSJ, CLYS, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, CNAME, CIP, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, ID, TSRXM, TSRDH, CLNR_YS, TRANSED, BZSM, MPI, BRXM, KSMC,HISXH
        from ZHLIS.L_TSXX
        where XH = #{xh}
        and rownum &lt; 2
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="LTsxxMap">
        select
          XH, BBBH, TSNR, QRR, QRRQ, QRBZ, QRKS, BZ, TSLX, TSRQ, TSKS, TSR, TSWORKSTATION, QRWORKSTATION, ZGYS, ZGHS, DZSJ, CLYS, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, CNAME, CIP, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, ID, TSRXM, TSRDH, CLNR_YS, TRANSED, BZSM, MPI, BRXM, KSMC
        from ZHLIS.L_TSXX
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LTsxxMap">
        select
        XH, BBBH, TSNR, QRR, QRRQ, QRBZ, QRKS, BZ, TSLX, TSRQ, TSKS, TSR, TSWORKSTATION, QRWORKSTATION, ZGYS, ZGHS, DZSJ, CLYS, CLR_YS, CLSJ_YS, CLBZ_YS, CLR_HS, CLSJ_HS, CLNR_HS, CLBZ_HS, CNAME, CIP, BQDM, KSDM, SYSTYPE, KDYS, BRID, JZLB, TEL_P, TEL_YS, SENDFLAG, SENTIME, ID, TSRXM, TSRDH, CLNR_YS, TRANSED, BZSM, MPI, BRXM, KSMC
        from ZHLIS.L_TSXX
        <where>
            <if test="xh != null">
                and XH = #{xh}
            </if>
            <if test="bbbh != null">
                and BBBH = #{bbbh}
            </if>
            <if test="tsnr != null">
                and TSNR = #{tsnr}
            </if>
            <if test="qrr != null">
                and QRR = #{qrr}
            </if>
            <if test="qrrq != null">
                and QRRQ = #{qrrq}
            </if>
            <if test="qrbz != null">
                and QRBZ = #{qrbz}
            </if>
            <if test="qrks != null">
                and QRKS = #{qrks}
            </if>
            <if test="bz != null">
                and BZ = #{bz}
            </if>
            <if test="tslx != null">
                and TSLX = #{tslx}
            </if>
            <if test="tsrq != null">
                and TSRQ = #{tsrq}
            </if>
            <if test="tsks != null">
                and TSKS = #{tsks}
            </if>
            <if test="tsr != null">
                and TSR = #{tsr}
            </if>
            <if test="tsworkstation != null">
                and TSWORKSTATION = #{tsworkstation}
            </if>
            <if test="qrworkstation != null">
                and QRWORKSTATION = #{qrworkstation}
            </if>
            <if test="zgys != null">
                and ZGYS = #{zgys}
            </if>
            <if test="zghs != null">
                and ZGHS = #{zghs}
            </if>
            <if test="dzsj != null">
                and DZSJ = #{dzsj}
            </if>
            <if test="clys != null">
                and CLYS = #{clys}
            </if>
            <if test="clrYs != null">
                and CLR_YS = #{clrYs}
            </if>
            <if test="clsjYs != null">
                and CLSJ_YS = #{clsjYs}
            </if>
            <if test="clbzYs != null">
                and CLBZ_YS = #{clbzYs}
            </if>
            <if test="clrHs != null">
                and CLR_HS = #{clrHs}
            </if>
            <if test="clsjHs != null">
                and CLSJ_HS = #{clsjHs}
            </if>
            <if test="clnrHs != null">
                and CLNR_HS = #{clnrHs}
            </if>
            <if test="clbzHs != null">
                and CLBZ_HS = #{clbzHs}
            </if>
            <if test="cname != null">
                and CNAME = #{cname}
            </if>
            <if test="cip != null">
                and CIP = #{cip}
            </if>
            <if test="bqdm != null">
                and BQDM = #{bqdm}
            </if>
            <if test="ksdm != null">
                and KSDM = #{ksdm}
            </if>
            <if test="systype != null">
                and SYSTYPE = #{systype}
            </if>
            <if test="kdys != null">
                and KDYS = #{kdys}
            </if>
            <if test="brid != null">
                and BRID = #{brid}
            </if>
            <if test="jzlb != null">
                and JZLB = #{jzlb}
            </if>
            <if test="telP != null">
                and TEL_P = #{telP}
            </if>
            <if test="telYs != null">
                and TEL_YS = #{telYs}
            </if>
            <if test="sendflag != null">
                and SENDFLAG = #{sendflag}
            </if>
            <if test="sentime != null">
                and SENTIME = #{sentime}
            </if>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="tsrxm != null">
                and TSRXM = #{tsrxm}
            </if>
            <if test="tsrdh != null">
                and TSRDH = #{tsrdh}
            </if>
            <if test="clnrYs != null">
                and CLNR_YS = #{clnrYs}
            </if>
            <if test="transed != null">
                and TRANSED = #{transed}
            </if>
            <if test="bzsm != null">
                and BZSM = #{bzsm}
            </if>
            <if test="mpi != null">
                and MPI = #{mpi}
            </if>
            <if test="brxm != null">
                and BRXM = #{brxm}
            </if>
            <if test="ksmc != null">
                and KSMC = #{ksmc}
            </if>
        </where>
    </select>



    <insert id="insert" parameterType="com.RealLis.dataSync.domain.LTsxx">
        insert into ZHLIS.L_TSXX
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bbbh != null">
                BBBH ,
            </if>
            <if test="tsnr != null">
                TSNR ,
            </if>
            <if test="qrr != null">
                QRR ,
            </if>
            <if test="qrrq != null">
                QRRQ ,
            </if>
            <if test="qrbz != null">
                QRBZ ,
            </if>
            <if test="qrks != null">
                QRKS ,
            </if>
            <if test="bz != null">
                BZ ,
            </if>
            <if test="tslx != null">
                TSLX ,
            </if>
            <if test="tsrq != null">
                TSRQ ,
            </if>
            <if test="tsks != null">
                TSKS ,
            </if>
            <if test="tsr != null">
                TSR ,
            </if>
            <if test="tsworkstation != null">
                TSWORKSTATION ,
            </if>
            <if test="qrworkstation != null">
                QRWORKSTATION ,
            </if>
            <if test="zgys != null">
                ZGYS ,
            </if>
            <if test="zghs != null">
                ZGHS ,
            </if>
            <if test="dzsj != null">
                DZSJ ,
            </if>
            <if test="clys != null">
                CLYS ,
            </if>
            <if test="clrYs != null">
                CLR_YS ,
            </if>
            <if test="clsjYs != null">
                CLSJ_YS ,
            </if>
            <if test="clbzYs != null">
                CLBZ_YS ,
            </if>
            <if test="clrHs != null">
                CLR_HS ,
            </if>
            <if test="clsjHs != null">
                CLSJ_HS,
            </if>
            <if test="clnrHs != null">
                CLNR_HS ,
            </if>
            <if test="clbzHs != null">
                CLBZ_HS ,
            </if>
            <if test="cname != null">
                CNAME ,
            </if>
            <if test="cip != null">
                CIP ,
            </if>
            <if test="bqdm != null">
                BQDM ,
            </if>
            <if test="ksdm != null">
                KSDM ,
            </if>
            <if test="systype != null">
                SYSTYPE ,
            </if>
            <if test="kdys != null">
                KDYS ,
            </if>
            <if test="brid != null">
                BRID ,
            </if>
            <if test="jzlb != null">
                JZLB ,
            </if>
            <if test="telP != null">
                TEL_P ,
            </if>
            <if test="telYs != null">
                TEL_YS,
            </if>
            <if test="sendflag != null">
                SENDFLAG,
            </if>
            <if test="sentime != null">
                SENTIME ,
            </if>
            <if test="id != null">
                ID ,
            </if>
            <if test="tsrxm != null">
                TSRXM ,
            </if>
            <if test="tsrdh != null">
                TSRDH ,
            </if>
            <if test="clnrYs != null">
                CLNR_YS ,
            </if>
            <if test="transed != null">
                TRANSED ,
            </if>
            <if test="bzsm != null">
                BZSM  ,
            </if>
            <if test="mpi != null">
                MPI  ,
            </if>
            <if test="brxm != null">
                BRXM ,
            </if>
            <if test="ksmc != null">
                KSMC ,
            </if>
            <if test="hisxh != null">
                HISXH ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bbbh != null">
                 #{bbbh},
            </if>
            <if test="tsnr != null">
                 #{tsnr},
            </if>
            <if test="qrr != null">
                #{qrr},
            </if>
            <if test="qrrq != null">
                 #{qrrq},
            </if>
            <if test="qrbz != null">
                 #{qrbz},
            </if>
            <if test="qrks != null">
                 #{qrks},
            </if>
            <if test="bz != null">
                #{bz},
            </if>
            <if test="tslx != null">
                 #{tslx},
            </if>
            <if test="tsrq != null">
                #{tsrq},
            </if>
            <if test="tsks != null">
                 #{tsks},
            </if>
            <if test="tsr != null">
                 #{tsr},
            </if>
            <if test="tsworkstation != null">
                 #{tsworkstation},
            </if>
            <if test="qrworkstation != null">
                 #{qrworkstation},
            </if>
            <if test="zgys != null">
                 #{zgys},
            </if>
            <if test="zghs != null">
                 #{zghs},
            </if>
            <if test="dzsj != null">
                #{dzsj},
            </if>
            <if test="clys != null">
                 #{clys},
            </if>
            <if test="clrYs != null">
                 #{clrYs},
            </if>
            <if test="clsjYs != null">
                #{clsjYs},
            </if>
            <if test="clbzYs != null">
                #{clbzYs},
            </if>
            <if test="clrHs != null">
                 #{clrHs},
            </if>
            <if test="clsjHs != null">
                 #{clsjHs},
            </if>
            <if test="clnrHs != null">
                 #{clnrHs},
            </if>
            <if test="clbzHs != null">
                #{clbzHs},
            </if>
            <if test="cname != null">
                #{cname},
            </if>
            <if test="cip != null">
                #{cip},
            </if>
            <if test="bqdm != null">
                #{bqdm},
            </if>
            <if test="ksdm != null">
                #{ksdm},
            </if>
            <if test="systype != null">
                #{systype},
            </if>
            <if test="kdys != null">
                 #{kdys},
            </if>
            <if test="brid != null">
                #{brid},
            </if>
            <if test="jzlb != null">
                 #{jzlb},
            </if>
            <if test="telP != null">
                #{telP},
            </if>
            <if test="telYs != null">
                #{telYs},
            </if>
            <if test="sendflag != null">
                 #{sendflag},
            </if>
            <if test="sentime != null">
                 #{sentime},
            </if>
            <if test="id != null">
                #{id},
            </if>
            <if test="tsrxm != null">
                 #{tsrxm},
            </if>
            <if test="tsrdh != null">
                #{tsrdh},
            </if>
            <if test="clnrYs != null">
                 #{clnrYs},
            </if>
            <if test="transed != null">
                 #{transed},
            </if>
            <if test="bzsm != null">
                 #{bzsm},
            </if>
            <if test="mpi != null">
                 #{mpi},
            </if>
            <if test="brxm != null">
                 #{brxm},
            </if>
            <if test="ksmc != null">
                 #{ksmc},
            </if>
            <if test="hisxh!=null">
                #{hisxh},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ZHLIS.L_TSXX
        <set>
            <if test="bbbh != null">
                BBBH = #{bbbh},
            </if>
            <if test="tsnr != null">
                TSNR = #{tsnr},
            </if>
            <if test="qrr != null">
                QRR = #{qrr},
            </if>
            <if test="qrrq != null">
                QRRQ = #{qrrq},
            </if>
            <if test="qrbz != null">
                QRBZ = #{qrbz},
            </if>
            <if test="qrks != null">
                QRKS = #{qrks},
            </if>
            <if test="bz != null">
                BZ = #{bz},
            </if>
            <if test="tslx != null">
                TSLX = #{tslx},
            </if>
            <if test="tsrq != null">
                TSRQ = #{tsrq},
            </if>
            <if test="tsks != null">
                TSKS = #{tsks},
            </if>
            <if test="tsr != null">
                TSR = #{tsr},
            </if>
            <if test="tsworkstation != null">
                TSWORKSTATION = #{tsworkstation},
            </if>
            <if test="qrworkstation != null">
                QRWORKSTATION = #{qrworkstation},
            </if>
            <if test="zgys != null">
                ZGYS = #{zgys},
            </if>
            <if test="zghs != null">
                ZGHS = #{zghs},
            </if>
            <if test="dzsj != null">
                DZSJ = #{dzsj},
            </if>
            <if test="clys != null">
                CLYS = #{clys},
            </if>
            <if test="clrYs != null">
                CLR_YS = #{clrYs},
            </if>
            <if test="clsjYs != null">
                CLSJ_YS = #{clsjYs},
            </if>
            <if test="clbzYs != null">
                CLBZ_YS = #{clbzYs},
            </if>
            <if test="clrHs != null">
                CLR_HS = #{clrHs},
            </if>
            <if test="clsjHs != null">
                CLSJ_HS = #{clsjHs},
            </if>
            <if test="clnrHs != null">
                CLNR_HS = #{clnrHs},
            </if>
            <if test="clbzHs != null">
                CLBZ_HS = #{clbzHs},
            </if>
            <if test="cname != null">
                CNAME = #{cname},
            </if>
            <if test="cip != null">
                CIP = #{cip},
            </if>
            <if test="bqdm != null">
                BQDM = #{bqdm},
            </if>
            <if test="ksdm != null">
                KSDM = #{ksdm},
            </if>
            <if test="systype != null">
                SYSTYPE = #{systype},
            </if>
            <if test="kdys != null">
                KDYS = #{kdys},
            </if>
            <if test="brid != null">
                BRID = #{brid},
            </if>
            <if test="jzlb != null">
                JZLB = #{jzlb},
            </if>
            <if test="telP != null">
                TEL_P = #{telP},
            </if>
            <if test="telYs != null">
                TEL_YS = #{telYs},
            </if>
            <if test="sendflag != null">
                SENDFLAG = #{sendflag},
            </if>
            <if test="sentime != null">
                SENTIME = #{sentime},
            </if>
            <if test="id != null">
                ID = #{id},
            </if>
            <if test="tsrxm != null">
                TSRXM = #{tsrxm},
            </if>
            <if test="tsrdh != null">
                TSRDH = #{tsrdh},
            </if>
            <if test="clnrYs != null">
                CLNR_YS = #{clnrYs},
            </if>
            <if test="transed != null">
                TRANSED = #{transed},
            </if>
            <if test="bzsm != null">
                BZSM = #{bzsm},
            </if>
            <if test="mpi != null">
                MPI = #{mpi},
            </if>
            <if test="brxm != null">
                BRXM = #{brxm},
            </if>
            <if test="ksmc != null">
                KSMC = #{ksmc},
            </if>
        </set>
        where HISXH = #{hisxh}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ZHLIS.L_TSXX where HISXH = #{hisxh} and HISXH !=-1
    </delete>

</mapper>
