<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RealLis.dataSync.mapper.LTsxxTrMapper">

    <resultMap type="com.RealLis.dataSync.domain.LTsxxTr" id="LTsxxTrMap">
        <result property="jlxh" column="JLXH" />
        <result property="xh" column="XH" />
        <result property="eventype" column="EVENTYPE" />
        <result property="jlsj" column="JLSJ" />
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LTsxxTrMap">
        select
         JLXH, XH, EVENTYPE, JLSJ
        from L_TSXX_TR
        where JLXH = #{jlxh}

    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="LTsxxTrMap">
        select
           JLXH, XH, EVENTYPE, JLSJ
        from L_TSXX_TR
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LTsxxTrMap">
        select
        JLXH, XH, EVENTYPE, JLSJ
        from L_TSXX_TR
        <where>
            <if test="xh != null">
                and XH = #{xh}
            </if>
            <if test="eventype != null and eventype != ''">
                and EVENTYPE = #{eventype}
            </if>
            <if test="jlsj != null">
                and JLSJ = #{jlsj}
            </if>
            <if test="jlxh != null and jlxh!=''" >
                and JLXH = #{jlxh}
            </if>

        </where>
        order by jlxh asc
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="xh" useGeneratedKeys="true">
        insert into L_TSXX_TR(EVENTYPE, JLSJ,XH)
        values (#{eventype}, #{jlsj},#{xh})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update L_TSXX_TR
        <set>
            <if test="xh != null and xh!=''">
                JLSJ = #{jlsj},
            </if>
            <if test="eventype != null and eventype != ''">
                EVENTYPE = #{eventype},
            </if>
            <if test="jlsj != null">
                JLSJ = #{jlsj},
            </if>
        </set>
        where JLXH = #{jlxh}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from L_TSXX_TR where JLXH = #{jlxh}
    </delete>

</mapper>
